* {
    box-sizing: border-box;

}

span{
    margin: 5px;
}

button{
    margin: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    width: 80px;
    border-radius: 5px;
}

h2{
    display: inline;
}